In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tools.plotting import scatter_matrix
from pprint import pprint
import scipy as sp

In [19]:
PATH = '../'
images = pd.read_csv(PATH + "image_frame.csv", sep= ";")

# print images.head()
survey = pd.read_csv(PATH + "survey_frame.csv", delimiter= ";")
# print survey.head()
# print images[["user_id"]]

# print survey.loc[[4],["insta_user_id"]]

both= pd.merge(left=images, right= survey, on=None, left_on= "user_id", right_on="insta_user_id")
# print images.user_id.value_counts()
# print survey.insta_user_id.value_counts()

# print survey.insta_user_id.value_counts()
# print both

In [20]:
print images.shape
print survey.shape
print both.shape

(2464794, 30)
(332, 46)
(2564457, 76)

In [21]:
both_dropped = both.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [22]:
print both_dropped.shape

(2550477, 76)

In [23]:
del both_dropped['Unnamed: 0_x']

In [24]:
both_dropped.set_index('user_id', inplace=True)

In [25]:
print both_dropped.shape
both_dropped.columns

(2550477, 74)

Index([u'index', u'image_id', u'image_filter', u'user_followed_by',
       u'user_follows', u'user_posted_photos', u'anp_label', u'anp_sentiment',
       u'emotion_score', u'emotion_label', u'data_amz_label',
       u'data_amz_label_confidence', u'face_id', u'face_gender',
       u'face_gender_confidence', u'face_age_range_high',
       u'face_age_range_low', u'face_sunglasses', u'face_beard',
       u'face_beard_confidence', u'face_mustache', u'face_mustache_confidence',
       u'face_smile', u'face_smile_confidence', u'eyeglasses',
       u'eyeglasses_confidence', u'face_emo', u'emo_confidence',
       u'Unnamed: 0_y', u'id', u'gender', u'born', u'education', u'employed',
       u'income', u'A_2', u'N_1', u'P_1', u'E_1', u'A_1', u'H_1', u'M_1',
       u'R_1', u'M_2', u'E_2', u'LON', u'H_2', u'P_2', u'N_2', u'A_3', u'N_3',
       u'E_3', u'H_3', u'R_2', u'M_3', u'R_3', u'P_3', u'HAP', u'participate',
       u'insta_user_id', u'completed', u'start_q', u'end_q', u'network_id',
       u'P', u'E', u'R', u'M', u'A', u'PERMA', u'N_EMO', u'P_EMO',
       u'imagecount', u'private_account'],
      dtype='object')

In [26]:
del both_dropped['P_1']
del both_dropped['P_2']
del both_dropped['P_3']
del both_dropped['E_1']
del both_dropped['E_2']
del both_dropped['E_3']
del both_dropped['R_1']
del both_dropped['R_2']
del both_dropped['R_3']
del both_dropped['M_1']
del both_dropped['M_2']
del both_dropped['M_3']
del both_dropped['A_1']
del both_dropped['A_2']
del both_dropped['A_3']
del both_dropped['P']
del both_dropped['E']
del both_dropped['R']
del both_dropped['M']
del both_dropped['A']

In [27]:
print both_dropped.shape
print both_dropped.columns

(2550477, 54)
Index([u'index', u'image_id', u'image_filter', u'user_followed_by',
       u'user_follows', u'user_posted_photos', u'anp_label', u'anp_sentiment',
       u'emotion_score', u'emotion_label', u'data_amz_label',
       u'data_amz_label_confidence', u'face_id', u'face_gender',
       u'face_gender_confidence', u'face_age_range_high',
       u'face_age_range_low', u'face_sunglasses', u'face_beard',
       u'face_beard_confidence', u'face_mustache', u'face_mustache_confidence',
       u'face_smile', u'face_smile_confidence', u'eyeglasses',
       u'eyeglasses_confidence', u'face_emo', u'emo_confidence',
       u'Unnamed: 0_y', u'id', u'gender', u'born', u'education', u'employed',
       u'income', u'N_1', u'H_1', u'LON', u'H_2', u'N_2', u'N_3', u'H_3',
       u'HAP', u'participate', u'insta_user_id', u'completed', u'start_q',
       u'end_q', u'network_id', u'PERMA', u'N_EMO', u'P_EMO', u'imagecount',
       u'private_account'],
      dtype='object')

In [28]:
both_dropped.shape

(2550477, 54)

In [29]:
both_dropped = both_dropped.drop_duplicates()

In [30]:
both_dropped.dtypes
bool_df = both_dropped[['insta_user_id','image_id','face_sunglasses', 'face_beard','face_mustache' ,'face_smile', 'eyeglasses','PERMA', 'user_followed_by', 'user_follows', 'user_posted_photos' ]]
bool_df
bool_df_dropped = bool_df.drop_duplicates()
print bool_df.shape
print bool_df_dropped.shape

(2550477, 11)
(23192, 11)

In [31]:
both_aggr = bool_df_dropped.groupby("insta_user_id", as_index= False).agg({"face_sunglasses":"mean", 
                                                          "face_beard": "mean", 
                                                          "face_mustache":"mean",
                                                          "eyeglasses": "mean",
                                                          "PERMA": "mean",
                                                         "user_followed_by": "mean",
                                                         "user_follows": "mean",
                                                         "user_posted_photos": "mean"})
both_aggr.head()

,insta_user_id,eyeglasses,face_sunglasses,user_follows,face_mustache,PERMA,user_followed_by,face_beard,user_posted_photos
0,1619510.0,0.542986,0.107089,814.0,0.123680,4.0,364.0,0.147813,2037.0
1,2829661.0,0.204082,0.163265,288.0,0.142857,8.0,198.0,0.122449,124.0
2,3069744.0,0.245421,0.095238,240.0,0.293040,7.0,311.0,0.344322,350.0
3,3988856.0,0.248408,0.133758,943.0,0.191083,10.0,732.0,0.235669,610.0
4,4185084.0,0.750000,0.000000,65.0,0.500000,6.0,24.0,0.750000,64.0

In [32]:
matrix = both_aggr.corr()
matrix

,insta_user_id,eyeglasses,face_sunglasses,user_follows,face_mustache,PERMA,user_followed_by,face_beard,user_posted_photos
insta_user_id,1.000000,0.163555,-0.052382,0.181789,0.164059,0.009554,0.048605,0.117298,-0.291539
eyeglasses,0.163555,1.000000,0.281175,0.016300,0.272326,-0.095168,0.004639,0.287882,0.105587
face_sunglasses,-0.052382,0.281175,1.000000,0.119256,0.047895,0.105953,0.131697,0.002710,0.121589
user_follows,0.181789,0.016300,0.119256,1.000000,0.112061,-0.081148,0.526154,0.078557,0.094081
face_mustache,0.164059,0.272326,0.047895,0.112061,1.000000,0.179361,0.043056,0.879054,0.043013
PERMA,0.009554,-0.095168,0.105953,-0.081148,0.179361,1.000000,0.034554,0.150999,-0.122192
user_followed_by,0.048605,0.004639,0.131697,0.526154,0.043056,0.034554,1.000000,-0.001208,0.163930
face_beard,0.117298,0.287882,0.002710,0.078557,0.879054,0.150999,-0.001208,1.000000,0.039973
user_posted_photos,-0.291539,0.105587,0.121589,0.094081,0.043013,-0.122192,0.163930,0.039973,1.000000

In [33]:
aggregation = {
    'face_mustache' : 'mean'
}

In [34]:
print survey.insta_user_id.nunique()

329

In [35]:
images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2464794 entries, 0 to 2464793
Data columns (total 30 columns):
Unnamed: 0                   int64
index                        int64
image_id                     object
image_filter                 object
user_id                      int64
user_followed_by             float64
user_follows                 float64
user_posted_photos           float64
anp_label                    object
anp_sentiment                float64
emotion_score                float64
emotion_label                object
data_amz_label               object
data_amz_label_confidence    float64
face_id                      float64
face_gender                  object
face_gender_confidence       float64
face_age_range_high          float64
face_age_range_low           float64
face_sunglasses              bool
face_beard                   bool
face_beard_confidence        float64
face_mustache                bool
face_mustache_confidence     float64
face_smile                   bool
face_smile_confidence        float64
eyeglasses                   bool
eyeglasses_confidence        float64
face_emo                     object
emo_confidence               float64
dtypes: bool(5), float64(15), int64(3), object(7)
memory usage: 481.9+ MB

In [54]:
images['anp_label'].value_counts()

silly_faces               45618
comic_life                29844
cute_couple               19212
old_friends               18930
happy_couple              15648
true_story                15642
ugly_sweater              15255
great_day                 13770
happy_birthday            13461
lovely_ladies             12831
cute_baby                 12807
bad_hair                  12231
early_days                12066
happy_baby                11703
hot_guys                  11226
late_dinner               11226
funny_quotes              11154
great_grandmother         10602
good_friends              10464
plastic_surgery           10209
double_portrait           10179
big_glasses               10176
fake_vintage              10023
good_day                   9801
formal_night               9399
modern_family              9345
happy_days                 9345
happy_people               9267
cute_guy                   9072
grand_baby                 8973
                          ...
crude_oil                     6
sandy_pines                   6
antique_bronze                6
tiny_world                    6
exotic_animals                6
single_flower                 6
abandoned_castle              6
modern_cars                   6
wild_plants                   6
endangered_species            6
weird_plant                   6
medieval_history              6
long_exsposure                6
beautiful_architecture        6
rare_species                  6
creepy_places                 6
decorative_plate              6
industrial_building           6
sacred_lotus                  6
stinging_nettle               3
famous_buildings              3
fake_model                    3
light_reflection              3
industrial_lighting           3
antique_gold                  3
old_pier                      3
hidden_gardens                3
dark_day                      3
rare_plant                    3
contemporary_landscape        3
Name: anp_label, Length: 3346, dtype: int64

In [46]:
images['data_amz_label'].value_counts()

Person           394047
People           392466
Human            392466
Portrait          82665
Poster            76203
Face              72969
Smile             69513
Collage           52683
Flyer             31878
Clothing          23481
Crowd             22461
Female            20103
Furniture         19308
Brochure          18699
Plant             18003
Selfie            17190
Potted Plant      15870
Party             14955
Couch             14658
Woman             12324
Blonde            11841
Hair              11019
Art               10500
Team               9345
Beverage           9051
Goggles            9027
Suit               8712
Glasses            8652
Drink              8472
Performer          7857
                  ...
Viaduct              15
Dune                 15
Cable Car            15
Dolphin              15
Bush                 15
Arecaceae            15
Pomegranate          15
Emerald              15
Raspberry            15
Breaker              15
Robot                15
Life Buoy            15
Amplifier            15
Water Bottle         15
Lamp Post            15
Flip-Flop            15
Gold                 15
Monarch              15
Confectionery        15
Stained Glass        15
Bean Sprout          15
Volcano              15
Cod                  15
Head Cabbage         15
Mold                 15
Flugelhorn           15
Ostrich              15
Ski Boot             15
Handball             15
Blade                15
Name: data_amz_label, Length: 1451, dtype: int64

In [51]:
images[images['data_amz_label'] == 'Selfie']['user_id'].nunique()

97

In [53]:
images[images['data_amz_label'] == 'Selfie']['image_id'].nunique()

802

In [67]:
images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2464794 entries, 0 to 2464793
Data columns (total 30 columns):
Unnamed: 0                   int64
index                        int64
image_id                     object
image_filter                 object
user_id                      int64
user_followed_by             float64
user_follows                 float64
user_posted_photos           float64
anp_label                    object
anp_sentiment                float64
emotion_score                float64
emotion_label                object
data_amz_label               object
data_amz_label_confidence    float64
face_id                      float64
face_gender                  object
face_gender_confidence       float64
face_age_range_high          float64
face_age_range_low           float64
face_sunglasses              bool
face_beard                   bool
face_beard_confidence        float64
face_mustache                bool
face_mustache_confidence     float64
face_smile                   bool
face_smile_confidence        float64
eyeglasses                   bool
eyeglasses_confidence        float64
face_emo                     object
emo_confidence               float64
dtypes: bool(5), float64(15), int64(3), object(7)
memory usage: 481.9+ MB

In [87]:
both.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2564457 entries, 0 to 2564456
Data columns (total 76 columns):
Unnamed: 0_x                 int64
index                        int64
image_id                     object
image_filter                 object
user_id                      object
user_followed_by             float64
user_follows                 float64
user_posted_photos           float64
anp_label                    object
anp_sentiment                float64
emotion_score                float64
emotion_label                object
data_amz_label               object
data_amz_label_confidence    float64
face_id                      float64
face_gender                  object
face_gender_confidence       float64
face_age_range_high          float64
face_age_range_low           float64
face_sunglasses              bool
face_beard                   bool
face_beard_confidence        float64
face_mustache                bool
face_mustache_confidence     float64
face_smile                   bool
face_smile_confidence        float64
eyeglasses                   bool
eyeglasses_confidence        float64
face_emo                     object
emo_confidence               float64
Unnamed: 0_y                 int64
id                           object
gender                       object
born                         int64
education                    object
employed                     object
income                       object
A_2                          int64
N_1                          int64
P_1                          int64
E_1                          int64
A_1                          int64
H_1                          int64
M_1                          int64
R_1                          int64
M_2                          int64
E_2                          int64
LON                          int64
H_2                          int64
P_2                          int64
N_2                          int64
A_3                          int64
N_3                          int64
E_3                          int64
H_3                          int64
R_2                          int64
M_3                          int64
R_3                          int64
P_3                          int64
HAP                          float64
participate                  object
insta_user_id                float64
completed                    bool
start_q                      object
end_q                        object
network_id                   object
P                            int64
E                            float64
R                            float64
M                            float64
A                            float64
PERMA                        int64
N_EMO                        float64
P_EMO                        int64
imagecount                   float64
private_account              object
dtypes: bool(6), float64(23), int64(29), object(18)
memory usage: 1.4+ GB

In [135]:
selfies_columns = ['PERMA',
                   'image_id',
                   'face_sunglasses', 
                   'face_beard', 
                   'eyeglasses', 
                   'user_followed_by', 
                   'user_follows',
                   'user_posted_photos',
                   'insta_user_id',
                   'gender',
                   'born',
                   'education',
                   'income']
selfies = both[both['data_amz_label'] == 'Selfie'][selfies_columns]

selfies = selfies[selfies['income'] != 'I\'d rather not disclose this information']

selfies['female'] = np.where(selfies['gender'] == 'Female', True, False)

selfies['college'] = np.where(selfies['education'] == 'College graduate', True, False)
selfies['high_school'] = np.where(selfies['education'] == 'High school graduate', True, False)
selfies['post_graduate'] = np.where(selfies['education'] == 'Post graduate degree', True, False)

income_dict = {
    'Less than $10,000': 5000,
    '$10,000 to $19,999': 15000,
    '$20,000 to $29,999': 25000,
    '$30,000 to $39,999': 35000,
    '$40,000 to $49,999': 45000,
    '$50,000 to $59,999': 55000,
    '$60,000 to $69,999': 65000,
    '$70,000 to $79,999': 75000,
    '$80,000 to $89,999': 85000,
    '$90,000 to $99,999': 95000,
    '$100,000 to $149,999': 125000,
    '$150,000 or more': 150000
}

selfies['income'] = selfies.apply(lambda row: income_dict[row['income']], axis=1)
del selfies['gender']
del selfies['education']
selfies.drop_duplicates(inplace=True)

In [136]:
selfies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 967 entries, 1383 to 2562969
Data columns (total 15 columns):
PERMA                 967 non-null int64
image_id              967 non-null object
face_sunglasses       967 non-null bool
face_beard            967 non-null bool
eyeglasses            967 non-null bool
user_followed_by      967 non-null float64
user_follows          967 non-null float64
user_posted_photos    967 non-null float64
insta_user_id         967 non-null float64
born                  967 non-null int64
income                967 non-null int64
female                967 non-null bool
college               967 non-null bool
high_school           967 non-null bool
post_graduate         967 non-null bool
dtypes: bool(7), float64(4), int64(3), object(1)
memory usage: 74.6+ KB

In [140]:
selfies['insta_user_id'].nunique()

93

In [123]:
selfies['income'].value_counts()

25000     4959
35000     3006
45000     2253
55000     2019
5000      1437
85000     1224
125000     765
15000      750
75000      555
65000      423
95000      315
150000      30
Name: income, dtype: int64

In [103]:
selfies['education'].value_counts()

College graduate        10467
High school graduate     7104
Post graduate degree      735
Name: education, dtype: int64

In [108]:
selfies['income'].value_counts()

$20,000 to $29,999                          4959
$30,000 to $39,999                          3006
$40,000 to $49,999                          2253
$50,000 to $59,999                          2019
Less than $10,000                           1437
$80,000 to $89,999                          1224
$100,000 to $149,999                         765
$10,000 to $19,999                           750
I'd rather not disclose this information     570
$70,000 to $79,999                           555
$60,000 to $69,999                           423
$90,000 to $99,999                           315
$150,000 or more                              30
Name: income, dtype: int64

In [94]:
print(selfies.info())
selfies.drop_duplicates()
print(selfies.info())

selfies_agg_dict = {}
for column in selfies_columns:
    selfies_agg_dict[column] = 'mean'
print(selfies_agg_dict)
selfies = selfies.groupby('insta_user_id', as_index=False).agg(selfies_agg_dict)

Female    2075886
Male       488571
Name: gender, dtype: int64

In [109]:
survey['income'].value_counts()

$30,000 to $39,999                          52
$20,000 to $29,999                          44
$40,000 to $49,999                          43
$100,000 to $149,999                        34
$50,000 to $59,999                          33
Less than $10,000                           28
$10,000 to $19,999                          23
$70,000 to $79,999                          22
$80,000 to $89,999                          14
$90,000 to $99,999                          13
$60,000 to $69,999                          10
I'd rather not disclose this information     8
$150,000 or more                             8
Name: income, dtype: int64

In [70]:
selfies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 143
Data columns (total 7 columns):
user_id               144 non-null int64
eyeglasses            144 non-null float64
user_posted_photos    144 non-null float64
user_followed_by      144 non-null float64
face_beard            144 non-null float64
face_sunglasses       144 non-null float64
user_follows          144 non-null float64
dtypes: float64(6), int64(1)
memory usage: 9.0 KB